/* For 1366 Resolution */
@media only screen and (max-width: 1600px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 14px;
  }

  .radio-container {
    font-size: 14px;
  }
  .response {
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="number"],
    textarea {
      font-size: 14px;
    }
  }
  .response .text-box::placeholder {
    font-size: 14px;
  }

  input::placeholder {
    font-size: 14px;
  }

  .eng .trl {
    width: 35em;
  }
  .eng .engine {
    margin-right: 0.5em;
  }
  .eng select {
    font-size: 14px;
    margin-right: 0.5em;
    width: 10em;
  }
  .eng .req-label {
    margin-right: 0.5em;
  }
  .eng .check {
    margin: 0em;
  }
  label {
    font-size: 14px;
  }
  .response {
    margin-right: 4.5em;
  }
  .hours {
    margin: 2em;
  }
  .time {
    font-size: 14px;
    padding: 0;
  }
  .cord-box .cord {
    font-size: 12px;
    width: 80px;
  }
  .eng .custom-file-input {
    font-size: 14px;
  }
  .cord-box .cord::placeholder {
    font-size: 12px;
  }
  .cord-container .update-chart {
    font-size: 18px;
    height: 40px;
  }
  .text-box {
    height: 500px;
  }
  .cost-container label {
    font-size: 14px;
  }
}
