.legal-container {
  margin: 2em 5em 2em 5em;
}
.nda-container p {
  font-size: 14px;
  font-family: sans-serif;
  margin-bottom: 1em;
}

.nda-container {
  margin-bottom: 1em;
}
.legal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.legal-form div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  margin: 1em;
  width: 25em;
  z-index: 10;
}

.legal-container div button {
  background: $grey;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.legal-container div button:hover {
  background: #fff;

  color: $red;
  border: black solid 2px;
  transform: scale(1.05);
}

.legal-link {
  text-decoration: underline;
}

.legal-form div input {
  margin-right: 1em;
}

.watermark {
  position: fixed;
  top: 1em;
  left: 1em;
  font-size: 150px;
  transform: rotate(-25deg);
  opacity: 0.2;
  z-index: 5;
  color: $red;
  overflow: hidden;
}
